a{
    text-decoration: none;
    display: inline;
    color: black;
    margin: 1rem 0px;
    text-align: center;
    background-color: rgb(23, 179, 252);
  
    padding: .5rem 1rem;
    border-radius: 5rem;
}

.btn_login{
    text-align: center;
    margin-top: 1rem;
}