<div class="hero">
    <div class="container">
        <header>
            <div class="barra" 
            #stickyMenu
            [class.sticky] = "sticky" >
                    
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <div class="container-fluid">
                          <a class="icono" href="/"><img src="../../../assets/img/Schoology_Logo.svg.png" alt=""></a>
                          
                          <nav class="navoption">
                            <a href="#">Tour</a>
                            <a href="#">Stori</a>
                            <a href="#">Connect</a>
                            <a href="#">Resouce</a>
                            <a href="#">Blog</a>
                            <a href="#">About</a>

                          

                          </nav>

                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                              <li class="nav-item">
                                <a class="nav-link " aria-current="page" 
                                href="/login"  target="_blank" >Login</a>
                              </li>

                              <span class="icono_nav">|</span>
                             
                              <li class="nav-item">
                                <a class="nav-link" href="/registro" target="_blank">Sign Up</a>
                              </li>
                                                        
                            </ul>

                            <a >Galeria</a>
                          
                          </div>
                        </div>
                      </nav> 
                    
                    <!-- nav fin -->
              
            </div>
        </header>
    
        <div class="contenido_hero"  >
            <div class="parrafo_hero">
                <h2>PowerSchool Is Here to Help</h2>
                <p>PowerSchool is doing everything we can to make it easy for districts to get up and running with distance learning.</p>

                <a href="" class="btn btn-info">Learn More</a>
            </div>

            <div class="img_hero">
                <img src="../../../assets/img/schoology-learning-management-system.png" alt="">
            </div>
        </div>
    </div>
</div>

<section class="Check">
  <div class="container">
    <div class="col_check">
      <div class="img_chek">
        <img src="../../../assets/img/check.png" alt="">
      </div>
      <div class="parrafoCheck">
        <h2>Check out home learning tips & tricks for parents!</h2>
        <p>The Parent Channel on PowerSchool TV offers resources, tips and real stories from parents who are doing their best to make distance learning work. Check it out today! ​</p>
        <a href="">VISIT POWERSCHOOL TV</a>
      </div>
    </div>
  </div>
</section>

<section class="great">
  <div class="container">
    <h2>What makes Schoology great </h2>
    <div class="co_grear">
      <div class="card">
        <div class="iccono_card">
          <img src="../../../assets/img/1.png" alt="">
        </div>
        <div class="titulo_card">
          <h3>Focused on K-12 schools just like yours </h3>
          <p>Elementary students don’t learn the same way as college students or adults. Schoology was designed for all students—from kindergarten through 12th grade—to be fully engaged with their learning.</p>
        </div>
      </div>


      <div class="card">
        <div class="iccono_card">
          <img src="../../../assets/img/2.png" alt="">
        </div>
        <div class="titulo_card">
          <h3>Focused on K-12 schools just like yours </h3>
          <p>Elementary students don’t learn the same way as college students or adults. Schoology was designed for all students—from kindergarten through 12th grade—to be fully engaged with their learning.</p>
        </div>
      </div>

      <div class="card">
        <div class="iccono_card">
          <img src="../../../assets/img/3.png" alt="">
        </div>
        <div class="titulo_card">
          <h3>Focused on K-12 schools just like yours </h3>
          <p>Elementary students don’t learn the same way as college students or adults. Schoology was designed for all students—from kindergarten through 12th grade—to be fully engaged with their learning.</p>
        </div>
      </div>


    </div>

      <div class="learn_More">
          <a href="">Learn More</a>
      </div>   
  </div>
</section>

  <section class="community">
    <div class="container">
      <h2>Hear from the Schoology community </h2>
      <div class="col_comunnity">
        <div class="video">
          <video src="../../../assets/video/Schoology Introduction.mp4" controls></video>
        </div>
        <div class="contenido_community">
          <h3>“We put Schoology in front of our teachers and their mouths dropped.”</h3>

          <p>Even with a 72% high socio-economic disadvantage, Norwalk-La Mirada USD is a shining example of equity and access. The district has leveled the playing field, enabling students to be successful in the 21st century, regardless of language, learning deficiency or background.</p>
        </div>
      </div>
    </div>
  </section>

 

<footer class="footer">
  <div class="col_footer container">
    <div class="col">
      <a href="">Tour</a>
    </div>
    <div class="col">
      <a href="">Stories</a>
    </div>

    <div class="col">
      <a href="">Connect</a>
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">News & Press</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Ambassadors</a></li>
      </ul>
    </div>

    <div class="col">
      <a href="">Resource</a>
      <ul>
        <li><a href="">Video</a></li>
        <li><a href="">Webinar</a></li>
        <li><a href="">Presentacion</a></li>
        <li><a href="">Best Practices</a></li>
      </ul>
    </div>

    <div class="col">
      <img src="../../../assets/img/COPPA.png" alt="">
    </div>

  </div>
</footer>









    

