.col_productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 1rem;
    .card{
        padding: 1rem;
    }
}
.navbar-brand{
    cursor: pointer;
}
.menu {
a{
   text-decoration: none; 
   color: black;
   font-size: 1.3rem;
   padding: 0px .5rem;
   margin: 0px .5rem;
   cursor: pointer;
}
}

input{
   
    border: none;
    width: 100%;
    margin: 1rem 0px;
    padding: .5rem;
    border-radius: 5rem;
    border: 1px solid rgb(6, 181, 235);
}

.btn{
    background-color:#0380ed;
    color: white;
}