.nav{
    background-color: #1e1e1e;
    color: rgb(0, 174, 255);
    padding: 2rem 0px;
    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 1rem;
    }
}